/* COLORES */
/* FUENTES */
/* FONT SIZE */
/* FORMULARIO */
/*$border-radius*/
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d6f8e1;
}

/*   FONTS   */
@font-face {
  font-family: "century-gothic-normal";
  src: url(../../../fonts/century-gothic/gothic.TTF);
}
h2 {
  padding-bottom: 10px;
  font-family: "century-gothic-normal";
  font-size: 30px;
  color: #151916;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

p, .contacto {
  background-color: transparent;
  margin: 0px auto;
  padding: 10px;
  font-family: "century-gothic-normal";
  font-size: 20px;
  color: #151916;
  text-align: center;
}

h3 {
  margin-top: 60px;
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  color: #151916;
  text-align: center;
}

h4 {
  font-family: "Lora", serif;
  font-size: 13px;
  color: #404a43;
  text-align: center;
}

.header-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FAF5BB;
  margin: 0px;
  padding: 10px;
  width: 100%;
}
.header-img img {
  width: 80%;
}

.bg-nav {
  background-color: #F0C4F7;
  margin: 0px;
  padding: 0px;
}

.item-margin {
  margin: 0px 90px;
}

.list-item {
  list-style: none;
}
.list-item a {
  background-color: auto;
  margin: 5px 60px;
  padding: 0px;
  font-family: "century-gothic-normal";
  font-size: 15px;
  color: rgba(44, 38, 38, 0.92);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.list-item a:hover {
  color: black;
  text-decoration: underline;
}

.current-item {
  background-color: auto;
  margin: 0px;
  padding: 0px 20px;
  font-family: "century-gothic-normal";
  font-size: 15px;
  color: black;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.navbar-ul {
  margin: 0px;
  padding: 0px;
  align-items: center;
}

.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.item-margin {
  margin: 0px 90px;
}

@media only screen and (min-width: 901px) and (max-width: 1235px) {
  .list-item a {
    background-color: auto;
    margin: 5px 35px;
    padding: 0px;
  }
}
.contacto {
  margin-top: 30px;
  display: grid;
  gap: 25px;
  grid: "0         form" auto "details   form" 1fr "details   form" auto/1fr 2fr;
  align-items: start;
}
.contacto p, .contacto .contacto {
  max-width: 980px;
  box-sizing: border-box; /* el max-width 980px es el borde del box y no solo el contenido*/
}

.contact-details {
  display: grid;
  gap: 20px;
  grid-area: details;
}

.contact-form {
  display: grid;
  gap: 20px;
  grid-area: form;
}
.contact-form input {
  border-radius: 7px;
  border: 0px;
  padding: 5px 10px;
  background-color: none;
  color: none;
  height: 30px;
}
.contact-form textarea {
  border-radius: 7px;
  border: 0px;
  padding: 5px 10px;
  background-color: none;
  color: none;
  height: auto;
}

.contact-group {
  display: grid;
  gap: 3px;
}

.contact-label {
  text-transform: uppercase;
  font-weight: 500;
}

.contact-form-button {
  width: 25%;
  border-radius: 7px;
  border: 2px solid #f4f0c1;
  padding: 0;
  background-color: #FAF5BB;
  color: #151916;
  height: 50px;
  cursor: pointer;
}
.contact-form-button:hover {
  box-shadow: 0 0 14px #f4f0c1;
}

.redes {
  background-color: transparent;
  margin: 20px;
  padding: 30px;
}

.redes-ul {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.redes-ul li {
  list-style-type: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
}
.redes-ul li a {
  display: block;
  padding: 5px;
  line-height: 50px;
}

.icons {
  width: 100%;
}

.footer {
  margin: 0px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer img {
  width: 10%;
}

.main-title {
  background-color: transparent;
  margin: 15px 50px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-title p, .main-title .contacto {
  margin: 0px;
}

.main-content {
  background-color: #F0C4F7;
  margin: 15px 70px;
  padding: 20px;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-content img {
  padding-right: 25px;
  width: 80%;
}

.pages {
  background-color: #F0C4F7;
  margin: 30px 70px;
  padding: 40px 30px;
  border-radius: 14px;
  /* @include flex(column, center, center); */ /*ver si obviando el flex funciona todo*/
}

.pages-title { /* revisar*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.main-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content-pages {
  background-color: #F0C4F7;
  margin: 15px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-content-pages img {
  padding-right: 25px;
  width: 40%;
}

iframe {
  max-width: 80%;
  height: auto;
}

/*# sourceMappingURL=styles.css.map */
