/* COMPONENTS/FORM */

.contacto {
    @extend p;
    p {
        max-width: 980px;
        box-sizing: border-box;
    }
    margin-top: 30px;

    display: grid;
    gap: 25px;
    grid: 
    "0         form" auto
    "details   form" 1fr
    "details   form" auto/
    1fr         2fr;
    align-items: start; 
}

.contact-details {
    @include grid(20px, details);
}

.contact-form {
    @include grid(20px, form);
    input {
        @include formstyle(7px, 0px, 5px 10px, none, none, 30px);

    }
    textarea {
        border-radius: 7px;
        border: 0px;
        padding: 5px 10px;
        height: auto;
    }
}

.contact-group {
    display: grid;
    gap: 3px;
}

.contact-label {
    text-transform: uppercase;
    font-weight: 500;
}

.contact-form-button {
    width: 25%;
    @include formstyle(7px, 2px solid $darkyellow, 0, $yellow, $darkgray, 50px);
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 14px $darkyellow;
    }
}
