/* COMPONENTS/NAVBAR */

.bg-nav {
    @include style($lilac, 0px, 0px);
}

.list-item {
    list-style: none;
    a {
        @include style(transparent, 3px 30px, 0px);
        @include txt-style($gothic, $nav-fontsize, $gray, center);
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: black;
            text-decoration: underline;
        }
    }
}

.current-item {
    @include style(transparent, 0px, 0px 20px);
    @include txt-style($gothic, $nav-fontsize, black, center);
    font-weight: bold;
    cursor: pointer;
}

.navbar-ul {
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.nav-content {
    @include flex(row, space-around, center);
}