.main-title {
    @include estilo(transparent, 15px, 40px 30px);
    p {
        font-size: 20px;
    }
}

.main-content {
    @include estilo( $lilac, 15px 50px, 20px);
    @include flex(row, center, center);
    img {
        padding-right: 25px;
        width: 80%;
    }    
}