/* PAGES/INDEX */
.main-title {
    @include style(transparent, 5px 50px, 40px 30px);
    @include flex(column, center, center);
    p {
        margin: 0px;
    }
}

.main-content {
    @include style( $lilac, 15px 70px, 20px);
    border-radius: 14px;
    @include flex(row, center, center);
    img {
        padding-right: 25px;
        width: 80%;
    }    
}