.pages { 
    @include style($lilac, 30px 70px, 40px 30px);
    border-radius: 14px;
}

.pages-title {
    @include flex(column, center, center);
    align-self: center;
}

.main-cont {
    @include flex(column, center, center);
}

.main-content-pages {
    @include style($lilac, 15px, 0px);
    @include flex(row, center, center);
    img {
        padding-right: 25px;
        width: 40%;
    }
}

iframe {
    max-width: 80%;
    height: auto;
}