/*$breakpoints: (
    mobile: 500px,
    tablet: 960px,
);

$colors: (
    $green: #d6f8e1;
    $yellow: #FAF5BB;
    $darkyellow: #f4f0c1;
    $lilac: #F0C4F7;
    $gray: rgba(44, 38, 38, 0.92);
    $darkgray: #151916;
    $graygreen: #404a43;
);*/