/*   FONTS   */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

@font-face {
    font-family: "century-gothic-normal";
    src: url(../fonts/century-gothic/gothic.TTF);
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d6f8e1;
}

.header-img {
    margin: 0px;
    padding: 10px;
    background-color: #FAF5BB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-img img {
    width: 80%;
}

.bg-nav {
    background-color: #F0C4F7;
    padding: 0;
}

.list-item {
    list-style: none;
}

.list-item a {
    text-decoration: none;
    color: rgba(38, 34, 34, 0.938);
    font-size: 15px;
    font-family: "century-gothic-normal";
    padding: 0px 20px;
    cursor: pointer;
}

.list-item a:hover {
    color: black;
    text-decoration:underline;
}

.current-item {
    text-decoration: underline;
    color: black;
    font-size: 15px;
    font-family: "century-gothic-normal";
    padding: 0px 20px;
    cursor: pointer;
}

.navbar-ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.nav-content {
    display: flex;;
    justify-content: space-around;
    align-items: center;
}

.main-title {
    padding: 40px 30px;
    margin: 15px;
}

.main-title p {
    padding-top: 10px;
    margin: 0px;
    font-family: "century-gothic-normal";
    color: black;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

.main-title h2 {
    padding-bottom: 10px;
    font-family: "century-gothic-normal";
    color: #151916;
    text-align: center;
}

.main-content {
    padding: 20px;
    background-color: #F0C4F7;
    margin: 15px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.main-content img {
    padding-right: 25px;
    width: 100%;
}

.main-content p {
    margin: 0px;
    font-family: "century-gothic-normal";
    color: black;
    font-size: 18px;
    text-align: center;
    
}

h3 {
    margin-top: 60px;
    font-family: 'Libre Baskerville', serif;
    color: #151916;
    text-align: center;
}

.redes {
    padding: 30px;
    margin: 20px;
}

.redes-ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.redes-ul li {
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
}

.redes-ul li a {
    display: block;
    padding: 0 15px;
    line-height: 50px;
}


.icons {
    width: 100%;
}

h4 {
    font-family: 'Lora', serif;
    font-size: 10px;
    color: #404a43;
    text-align: center;
}

.footer {
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.footer img {
    width: 10%;
}


/*media query mobile*/

@media (max-width: 480px) {
    .header-img {
        padding: 7px;
        max-width: 100%;
    }

    .main-title {
        padding: 20px 10px;
        margin: 10px;
    }

    .main-title h2 {
        margin: 0px;
    }

    .main-title p {
        font-size: 10px;
    }

    .main-content {
        padding: 5px;
        margin: 5px 10px; 
    }

    .main-content img {
        padding: 0;
        width: 40%;
    }

    .main-content p {
        font-size: 8px;
    }

    h3 {
        margin: 30px 12px 0px 12px;
        font-size: 17px;;
    }
    
    .redes {
        padding: 10px;
        margin: 15px;
    }
    
    .redes-ul {
        justify-content: space-between;
    }
    
    .redes-ul li a {
        padding: 0 13px;
    }
    
    h4 {
        font-size: 5px;
    }

    .footer {
        margin: 0px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer img {
        width: 20%;
    }
}

/*media query tablet*/

@media (min-width: 481px) and (max-width: 960px) {
    
    .header-img {
        padding: 5px;
    }

    .main-title {
        margin: 5px;
    }


    .main-title p {
        font-size: 15px;
    }

    .main-content {
        padding: 5px;
        margin: 5px 10px; 
    }

    .main-content img {
        width: 50%;
    }

    .main-content p {
        font-size: 12px;
    }

    h3 {
        margin: 40px 12px 0px 12px;
        font-size: 20px;;
    }
    
    .redes {
        padding: 10px;
        margin: 15px;
    }
    
    .redes-ul {
        justify-content: space-between;
    }
    
    .redes-ul li a {
        padding: 0 13px;
    }
    
    h4 {
        font-size: 10px;
    }

    .footer img {
        width: 20%;
    }
}